@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vendas_MVC.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <!--Aqui é chamar accao "Edit"-->
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>  <!--O que é que este asp-items faz? ele vai construir os items da caixa de selecção com base numa colecão que eu passar. Entao como nós fazemos isto?    -->
            </div>                                                                                                                                 <!--Nós começamos com o arroba e depois new selectList e ai esse selectList, vai ter 3 argumentos-->
            <div class="form-group">
                <!--Qual vai ser a fonte de dados dessa coleção(Model.Departments QUE VAI SER A LISTA DE "DEPARTAMENTOS" LÁ DO "ViewModels"(cada objecto é um depart.), "Id" este 2ª argumento vai falar assim: qual é o atributo desse objecto que vai ser a chave dele? Vai ser o codigo "Id"    -->
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<!--Este trecho de codigo abaixo vai habilitar a validação por meio de JavaScript-->
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
