<!--Ela recebe um objecto do tipo ErrorViewModel-->
@model Vendas_MVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message </h2> <!--Aqui é aquele atributo que nós criamos lá na classe"ErrorViewModel" eu vou mostrar a mensagem aqui -->
<!--Aqui vai testar aquela função se existe RequestId entao ele mostra aqui o valor do RequestId -->
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

